name: Deploy Site to Github Pages

on:
  push:
    branches:
      - master
    paths:
      - "site/**"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependecies
        run: yarn install

      - name: Build Site
        run: npx lerna run build --scope=site

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.4.0
        with:
          branch: gh-pages
          folder: site/dist
