name: Deploy Site to Github Pages

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - "site"

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Yarn Bootstrap
        uses: borales/actions-yarn@v4
        with:
          cmd: bootstrap

      - name: Build Site
        run: |
          npx lerna run build --scope=site
          touch site/dist/.nojekyll

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: site/dist
